/* Sticky Footer Styles
============================================================================ */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom defined by footer height */
  margin-bottom: 30px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* The fixed height of the footer */
  height: 30px;
}



/* Font Styles
============================================================================ */
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 400;
  src: url(/res/vendor/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 700;
  src:  url(/res/vendor/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: italic;
  font-weight: 400;
  src:  url(/res/vendor/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: italic;
  font-weight: 700;
  src:  url(/res/vendor/Open_Sans/OpenSans-BoldItalic.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', 'Open Sans Fallback',  sans-serif;
}



/* Styles
===============================================================================
Palette #1 - Too light
  Base = hsl(200, 78%, 72%)
  Shade 1 = hsl(199, 91%, 95%)
  Shade 2 = hsl(200, 86%, 83%)
  Shade 3 = hsl(201, 69%, 62%)
  Shade 4 = hsl(201, 58%, 51%)

Palette #2
  shade 0 = #0A435F
  shade 1 = #086794
  shade 2 = #0D5376
  shade 3 = #032E43
  shade 4 = #021B27
*/


[hidden] {
  display: none;
}
[draggable='false'] {
  -khtml-user-drag: none;
  -webkit-user-drag: none;
}
::-moz-selection {
  background-color: #DEDEDE;
  color: #B4A62B;
}
::selection {
  background-color: #DEDEDE;
  color: #010101;
}
body {
  background-color: hsl(199, 91%, 95%);
  text-align: center;
}
a {
  color: hsl(201, 58%, 51%);
}
a:hover{
  color: hsl(199, 91%, 95%);
  text-decoration: none;
}
nav {
  background-color: hsl(200, 78%, 72%);
}
nav a, .navbar .navbar-nav > li > a {
  transition: color 0.5s ease;
  color: hsl(201, 58%, 51%);
}
nav a:hover, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  cursor: pointer;
  color: hsl(199, 91%, 95%);
  background-color: hsl(201, 58%, 51%);
}
footer {
  background-color: hsl(200, 78%, 72%);
  color: hsl(201, 58%, 51%);
}
#logo {
  float: left;
  margin: -20px 0px 0px 0px;
}
#logoTxt {
  float: right;
}
#modalLicense .modal-body {
  text-align: left;
}
#modalLicense .modal-body ul, #modalLicense .modal-body h4 {
  text-align: center;
  list-style-type: none;
}
.navbar-toggle {
  background-color: hsl(196, 47%, 20%);
  border-color: hsl(196, 46%, 32%);
}
.navbar-toggle:hover {
  background-color: hsl(196, 46%, 32%);
}
.navbar-toggle .icon-bar {
  background-color: hsl(0, 0%, 87%);
}
.dropdown {
  cursor: pointer;
}
.err {
  float: left;
}
.glyphicon-spin {

  animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {

    transform: rotate(0deg);
  }
  100% {

    transform: rotate(359deg);
  }
}
/* Carousel IMG Centering */
.carousel-inner {
  height: 600px;
}
.carousel-inner > .item > img {
    margin: auto;
    padding-top: 150px;
}
