/* Sticky Footer Styles
============================================================================ */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom defined by footer height */
  margin-bottom: 30px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* The fixed height of the footer */
  height: 30px;
  background-color: #000000;
}



/* Font Styles
============================================================================ */
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 400;
  src: url(/res/vendor/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: normal;
  font-weight: 700;
  src:  url(/res/vendor/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: italic;
  font-weight: 400;
  src:  url(/res/vendor/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Fallback';
  font-style: italic;
  font-weight: 700;
  src:  url(/res/vendor/Open_Sans/OpenSans-BoldItalic.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', 'Open Sans Fallback',  sans-serif;
}



/* Styles
============================================================================ */
body {
  background-color: #DBEDF8;
  text-align: center;
}
a {
  color: #FFFFFF;
}
a:hover{
  color: #2299CC;
  text-decoration: none;
}
nav {

}
main {
  background-color: #6E95D6;
}
#logo {
  float: left;
  margin: -20px 0px 0px 0px;
}
#logoTxt {
  float: right;
}
